.yinyang{
    width: 96px;
    height: 48px;
    background: width;
    background-color: black;
    position: relative;
    border-style: solid dashed;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    animation: spin 8s linear infinite;
}
.yinyang::before{
    content: "";
    background: white;
    border: 18px solid black;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}
.yinyang::after{
    content: "";
    background: black;
    border: 18px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}
@keyframes spin{
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}